# No statis files should be tracked with git.
go/images/
go/userfiles/
docker-compose.yml

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# AWS credentials should not be on git
*.aws

# Dependency directories (remove the comment below to include it)
# vendor/

